/* Basic Style */
.page__body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.page-section__img {
  width: 100%;
}

.page-section__link {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

  .page-section {
    text-align: center;
  }

}

.page-section {
  display: block;
  width: 500px;
  margin: 0 auto 0;
  text-align: right;
}

.page-section__input,
.site-list__label,
.site-list__input {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.page-section__input-wrapper {
  display: flex;
  align-items: flex-start;
}

.page-section__list {
  margin: 0;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.site-list__item,
.page-section__header {
  list-style: none;
}

.site-list__input,
.page-section__input,
.site-list__btn,
.page-section__btn {
  outline: none;
}

.site-list__btn,
.page-section__btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.site-list__btn:hover,
.page-section__btn:hover {
  color: #3a3A3a;
}

/* Heading */
.page-section__header,
.page-section__label_new {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
  text-align: start;
}

.page-section__label_new {
  margin: 12px 0;
}

.page-section__input,
.site-list__input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.page-section__input:focus,
.site-list__input:focus {
  color: #333;
}

/* New Task */
.page-section__label_new {
  display: block;
  margin-bottom: 20px;
}

#new-task {
  width: 318px;
  margin-bottom: 16px;
}

/* Task list */
.site-list__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: start;
}

.site-list__item>* {
  vertical-align: middle;
}

.input-checkbox {
  margin: 0 10px;
  display: block !important;
  max-width: 13px !important;
  height: 13px !important;
}

.site-list__item>.site-list__label {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.site-list__item>.site-list__input {
  width: 226px;
}

.btn-delete__img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.btn-delete__img:hover {
  transform: rotateZ(0);
}

/* Completed */
.site-list__item .site-list__label_completed {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.site-list__input {
  display: none;
}

.site-list__input_editting {
  display: inline-block;
  width: 224px;
}

.site-list__label_editting {
  display: none;
}